@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> <!--Bootstrap for Styling*/-->
    <a asp-action="Expenses" class="btn btn-primary">Overview</a> 
    <!--asp-controller="Home"  not needed since Index.cshtml inside the Home folder of the Views-->
</div>
